* {
    box-sizing: content-box;
}

body {
    margin: 0;
}

#container {
    width: 960px;
    border: 1px solid lightgray;
    margin: auto;
}

.hovered {
    background-color: black;
}

#btn {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}